extends layout.pug


block scripts 
    link(rel="stylesheet", href="../css/home.css")

block searchBar 
    form#searchBar(method="post")
        select(id="searchByType" name="searchByType")
            option(value="") Filtrer par type
            option(value="book") Livre
            option(value="movie") Film
            option(value="song") Musique
        input(type="search" id="siteSearch" name="siteSearch" placeholder="Entrez votre recherche ici" aria-label="Rechercher sur le site" value=siteSearch)
        button(type="submit" id="submitBtn") Rechercher

block content
    #main
        ul
            if (books.length > 0)
                li
                    h3 Livres
                    ul.itemsList
                        each item in books
                            li.item 
                                img(src=item.image width="150px" height="225px")
                                figcaption #{item.title}
                                ul.itemModal
                                    div.modalContent
                                        li Année: #{item.year}
                                            each val, name in item.details
                                                li #{name}: #{val}
                                        li  Lien de téléchargement : 
                                            a(href=item.link, target="_blank") #{item.link}
                                        button.hideButton Fermer
                        
            if (movies.length > 0)
                li
                    h3 Films
                    ul.itemsList
                        each item in movies
                            li.item 
                                img(src=item.image width="150px" height="250px")
                                figcaption #{item.title}
                                ul.itemModal
                                    div.modalContent
                                        li Année: #{item.year}
                                            each val, name in item.details
                                                li #{name}: #{val}
                                        li  Lien de téléchargement : 
                                            a(href=item.link, target="_blank") #{item.link}
                                        button.hideButton Fermer
            if (songs.length > 0)
                li
                    h3 Musique
                    ul.itemsList
                        each item in songs
                            li.item 
                                img(src=item.image width="150px" height="250px")
                                figcaption #{item.title}
                                ul.itemModal
                                    div.modalContent
                                        li Année: #{item.year}
                                            each val, name in item.details
                                                li #{name}: #{val}
                                        li Lien de téléchargement : 
                                            a(href=item.link, target="_blank")  #{item.link}
                                        button.hideButton Fermer
        
        script(src="../js/homeModals.js")
        