extends layout.pug

block content
    form(method="post")
        input(type="search" id="siteSearch" name="siteSearch" placeholder="Entrez votre recherche ici" aria-label="Rechercher sur le site")
        button(type="submit" id="submitBtn") Rechercher
    div Hello World !!!
    ul 
        each item in items
            li= item.title
                ul
                    li Année: #{item.year}
                        each val, name in item.details
                            li #{name}: #{val}
                    li
                        a(href=item.link) #{item.link}